body {
	font-family: Arial, sans-serif;
	max-width: 800px;
	margin: 0 auto;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 10px;
}

#employeeList {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 20px;
}